{% extends "app1/index.html" %}

{% block titulo %} Lista de Mascotas {% endblock %}

{% block contenido %}
<form method="GET" class="mb-4">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Buscar por nombre..." value="{{ query }}">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<div class="container mt-5">
    <h2>Lista de Mascotas</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Numero de Identificación</th>
          <th>Fecha de Incorporación</th>
          <th>Acciones</th> <!-- Nueva columna -->
        </tr>
      </thead>
      <tbody>
        {% for mascota in mascotas %}
          <tr>
            <td>{{ mascota.nombre }}</td>
            <td>{{ mascota.numero_identificacion }}</td>
            <td>{{ mascota.fecha_incorporacion }}</td>
            <td>
              <a href="{% url 'actualizar_mascota' mascota.numero_identificacion %}" class="btn btn-sm btn-warning">Editar</a>
              <a href="{% url 'eliminar_mascota' mascota.numero_identificacion %}" class="btn btn-sm btn-danger" 
                 onclick="return confirm('¿Seguro que deseas eliminar esta mascota?');">
                 Eliminar
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4" class="text-center">No hay mascotas registradas.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'crear_mascota' %}" class="btn btn-primary">Agregar Mascota</a>
</div>
{% endblock %}
